<p id="notice"><%= notice %></p>

<h1>Listing API Authentications</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_authentications.each do |api_authentication| %>
      <tr>
        <td><%= api_authentication.name %></td>
        <td><%= api_authentication.key %></td>
        <td><%= link_to 'Show', api_authentication %></td>
        <td><%= link_to 'Edit', edit_api_authentication_path(api_authentication) %></td>
        <td><%= link_to 'Destroy', api_authentication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New API authentication', new_api_authentication_path %>
