<h1>Listing Assignments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Assignment name</th>
      <th>Description</th>
      <th>Expiry date</th>
      <th>Status</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.assignment_name %></td>
        <td><%= assignment.description %></td>
        <td><%= assignment.expiry_date.present? ? assignment.expiry_date.strftime('%d-%m-%Y') : 'Null'%></td>
        <td><%= assignment.status %></td>
        <td><%= link_to 'Share', assignment_share_path(assignment) %></td>
        <td><%= link_to 'Show Answers', show_answers_path(assignment) %></td>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment', new_assignment_path,:class=>'btn btn-primary btn-sm active' %>
