<!DOCTYPE html>
<html>
<head>
  <title>New Demo Application</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%=  render 'layouts/menu' if user_signed_in? %>
<%=  render 'layouts/banner' if user_signed_in? %>

<div class="container">
	

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


	<%= yield %>


</div>

<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright
    <a href="#"></a>
  </div>
  <!-- Copyright -->

</footer>

</body>
</html>
